*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/*/build
/app/build
captures/
.externalNativeBuild
.cxx

# Built outputs
*.ap_
*.aab

# Keep standalone installer in root for easy direct download
!SnapCrop.apk

*.hprof
